## sequence operations

In [2]:
x = 'computer'
x[:]

'computer'

In [3]:
'horse ' + 'shoe'

'horse shoe'

In [6]:
y = ['pig', 'cow'] + ['horse']
print(y)

['pig', 'cow', 'horse']

In [10]:
x =('one', 'two') + ('Three',)
print(x)
x += ('four', 'five', 'six')
print(x)

('one', 'two', 'Three')
('one', 'two', 'Three', 'four', 'five', 'six')

In [14]:
'bug' * 4
[8,4] * 5
(2,3,4) * 4

(2, 3, 4, 2, 3, 4, 2, 3, 4, 2, 3, 4)

In [15]:
x = 'bug'
print('u' in x)

True

## Checking for membership in python

In [18]:
y = ['cow', 'pig', 'horse']
print('cat' not in y)

print('cow' in y)

True
True

## itrerating through a sequence

In [19]:
x = [1,34,45]
for item in x:
    print(item)

1
34
45

In [22]:
for index, item in enumerate(x):
    print(index, item)

0 1
1 34
2 45

In [23]:
len(x)

3

In [24]:
y = ['pig', 'cow', 'horse']

In [26]:
print(min(y))
print(max(y))

cow
pig

In [27]:
print(sum(x))

80

In [30]:
y = [30, 2,3,4]
print(sum(y))

39

In [31]:
iterable = [12,34,4]
sum = 0
for item in iterable:
    sum +=item
print(sum)

50

In [32]:
x = 'bug'
print(sorted(x))

['b', 'g', 'u']

In [39]:
y = ['cow', 'pig', 'horse', 'cat']
sorted_y = sorted(y)

In [40]:
print(y)
print(sorted_y)

['cow', 'pig', 'horse', 'cat']
['cat', 'cow', 'horse', 'pig']

In [41]:
z = 'Bolloon'
z.count('o')

3

In [43]:
z.index('l')

2

In [44]:
y = ['cow', 'pig','horse','cow']

In [48]:
y.index('pig')

1

## Unpacking the elements

In [52]:
[one, two, three, four] = y
print(one, two, three, four)

cow pig horse cow

## working with lists

In [64]:
del(y[0])

In [65]:
y

[]

In [66]:
x

'bug'

In [67]:
del x

In [73]:
first_list = [12,23,34]
last_list = [45,67,21]
full_list = first_list.extend(last_list)

In [74]:
print(full_list)

None

In [75]:
print(first_list)

[12, 23, 34, 45, 67, 21]

In [76]:
print(last_list)

[45, 67, 21]

### Inserting items in the list

In [80]:
x = [12,24,48]
x.insert(0, 'inserted later')
x.insert(3,'also interted')
print(x)

['inserted later', 12, 24, 'also interted', 48]

In [83]:
x.pop(0)

'inserted later'

In [84]:
print(x)

[12, 24, 'also interted']

In [85]:
x.reverse()

In [86]:
x

['also interted', 24, 12]

## Tupples and Dictionaries

In [91]:
person = {
    'name' : 'Davis',
    'carreer' : 'Software Engineer',
    'Qualicfication': 'Degree in computer Science'
}
key = person.keys()
for item in key:
       print(item)

name
carreer
Qualicfication

In [92]:
print(person.values())

dict_values(['Davis', 'Software Engineer', 'Degree in computer Science'])